{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "prettier/prettier": "error",
    "import/prefer-default-export": 0
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"],
          ["actions", "./src/actions"],
          ["images", "./src/images"],
          ["containers", "./src/containers"],
          ["reducers", "./src/reducers"],
          ["sagas", "./src/sagas"],
          ["pages", "./src/pages"],
          ["components", "./src/components"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json", ".less", "jpg", "png", "svg"]
      }
    }
  }
}